django
django-redis-cache
django-tastypie

docutils
fabric
httplib2
mimeparse
redis
south

python-dateutil==1.5

-e git+git://github.com/homicidewatch/django-boundaryservice.git#egg=django_boundaryservice